extends layout

block content
    h1.qt.ml6
        span.text-wrapper
            span.letter #{question}
    .row
        .col-md-12.qb
            img.main(src=themeimg )
            h2 #{heading}
            p #{body}
            p
                button.btn.btn-grad1.btn-2.btn-2g.answer.ans1 #{answer1}
                button.btn.btn-grad1.btn-2.btn-2g.answer.ans2 #{answer2}
            p
                button.btn.btn-grad1.btn-2.btn-2g.answer.ans3 #{answer3}
                button.btn.btn-grad1.btn-2.btn-2g.answer.ans4 #{answer4}
        img.hero(src=heroimg)
